<!-- templates/welcome-staff.html-->
{% extends 'navbar_staff.html' %}

{% block title %}Date Range Exclusions{% endblock %}

{% block content %}
{% load static %}
<script src="{% static 'staff/TableSort.js' %}"></script>
<style type="text/css" scoped>
    td { vertical-align: middle !important; text-align: center;}
    .pencil-class {
        color: darkgoldenrod;
    }
    .pencil-class:hover{
        color: rgb(209, 197, 23);
    }
</style>
<div class="container" style="padding-bottom: 5%;">
    <div class="col-md-12" style="text-align: right;">
        <a class="btn btn-default btn-outline-dark" href="{% url 'staff:create_daterange' %}">Create daterange</a>
    </div>
    <br/>
    <div class="" style="text-align: center;">
        <h2>Manage Date Ranges</h2>
        <div style="width: 33%; margin-left: 33%; padding-bottom: 1%;" id="filterDiv">
            <p style="display: inline-block; padding-right: 1%;">Filter:</p>
            <input style="display: inline-block; width: 80%;" id="search" class="form-control" placeholder="None"/>
            <small style="visibility: hidden;" id="multiple-filter-note">Separate multiple filters with: &&</small>
        </div>
    </div>
    <div class="table-responsive">
        <table id="managementTable" class="table table-hover table-condensed">
            <thead>
                <tr>
                    <td style="text-align: left; cursor: pointer;" class="col-md-3" id="dateranges" onclick="sortRows('managementTable', 'dateranges', 1, 0)"><h4>Customer <i class="fa-solid fa-sort"></i></h4></td>
                    <td class="col-md-3" style="cursor: pointer;" id="start_dates"onclick="sortRows('managementTable', 'start_dates', 1, 1)"><h4>Start Date <i class="fa-solid fa-sort"></i></h4></td>
                    <td class="col-md-3" style="cursor: pointer;" id="end_dates"onclick="sortRows('managementTable', 'end_dates', 1, 2)"><h4>End Date <i class="fa-solid fa-sort"></i></h4></td>
                    <td class="col-md-3"><h4>Delete</h4></td>
                </tr>
            </thead>
            <tbody>
                <tr>
            {% for p in object_list %}
                    <td class="col-md-4" style="text-align: left;"><a title="edit this daterange" href="{% url 'staff:edit_daterange' p.id %}" >{{p.customer}}</a></td>
                    <td class="col-md-4" style="text-align: middle;"><a style="color: black; text-decoration: none;">{{p.start_date}}</a></td>
                    <td class="col-md-4" style="text-align: middle;"><a style="color: black; text-decoration: none;">{{p.end_date}}</a></td>
                    <td class="col-md-4">
                        <a class="btn btn-default btn-outline-dark" href="{% url 'staff:delete_daterange' p.id %}" title="delete this daterange" role="button" onclick="return confirm('Are you sure you want to delete this daterange? This action cannot be undone.')">
                            <span style="color:red;" class="fa-solid fa-x" aria-hidden="true"></span>
                            Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>
<script src="{% static 'staff/TableSearch.js' %}"></script>
<script src="{% static 'staff/RowExtractAndListener.js' %}"></script>
{% endblock %}
