<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="UTF-8">
    <title>Labels PDF</title>
     {%  load static %}
    <link href="{% static 'pdfs/label_pdf.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<!-- {% now "F jS Y" %} -->
    {% load route_extras %}
    {% if cust_query %}
        <table class="floatedTable">
            <tbody>
                <tr>
                {% cycle '' '<tr>' as opentr %}
                {% cycle '</tr>' '' as closetr %}

                {% for customer in cust_query %}
                    {% for _ in customer|numMealsOnDay:date|getRange %}
                        {% cycle opentr %}
                            <td> <b> {{ customer.route_id|getRoute }} {{ customer.first_name|slice:":11"}} {{ customer.last_name|slice:":11" }} </b>
                                <i>{{ date|date:'m/d/y' }}</i><br/>
                                {% for diet in diet_query %}
                                    {% if diet.id == customer.diet_id %}
                                        <b><i> Diet: {{diet.name}} </i></b> <br/>
                                    {% endif %}
                                {% endfor %}
                                {{ customer.hot_diet_restrictions|slice:":31" }} <br/>
                                {{ customer.cold_diet_restrictions|slice:":30" }} <br/>
                                Must be refrigerated or consumed before 1 pm
                            </td>
                        {% cycle closetr %}
                        {% if forloop.parentloop.last|divisibleby:2 %}
                            <!--do nothing-->
                        {% else %}
                            </tr>
                        {% endif %}
                    {% endfor%}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="no_custs">There are currently no customers.</p>
    {% endif %}

</body>
</html>