<!-- templates/base.html -->
{% extends 'base.html' %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
<style>
dd {
  margin-bottom: 16px;
}
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
  <div class="container-fluid px-3">
    <a class="navbar-brand" href="#">Meals on Wheels</a>
  </div>
</nav>
<div class="container mb-4">
  <h2 class="text-center mb-4">Privacy Policy</h2>
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 text-left">
              <p>
                This privacy policy has been compiled to better serve those who are concerned with how their ‘Personally Identifiable Information’ (PII) is being used online. PII, as described in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.
              </p>
              <dl>
                <dt>What personal information do we collect from people that visit our volunteer portal</dt>
                <dd>
                  When registering as a volunteer on our site/portal, you will be asked to enter your name, email address, mailing address, phone number or other details to help you with your experience.
                </dd>

                <dt>When do we collect information?</dt>
                <dd>
                  We collect information from you when you register or enter information on our site/portal.
                </dd>

                <dt>How do we use your information?</dt>
                <dd>
                  We may use the information we collect when you register on our portal to create your account for volunteering communication.
                </dd>

                <dt>How do we protect your information?</dt>
                <dd>
                  Our website is scanned on a regular basis for security holes and known vulnerabilities in order to make your visit to our site as safe as possible.
                  We use regular Malware Scanning.
                  <br />
                  Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential.
                </dd>

                <dt>Third-party disclosure</dt>
                <dd>
                  We do not sell, trade, or otherwise transfer to outside parties your Personally Identifiable Information.
                </dd>

                <dt>Third-party links</dt>
                <dd>We do not include or offer third-party products or services on our website.</dd>

                <dt>Fair Information Practices</dt>
                <dd>
                  The Fair Information Practices Principles form the backbone of privacy law in the United States and the concepts they include have played a significant role in the development of data protection laws around the globe. Understanding the Fair Information Practice Principles and how they should be implemented is critical to comply with the various privacy laws that protect personal information.
                  <br />
                  In order to be in line with Fair Information Practices we will take the following responsive action, should a data breach occur:
                  <br />
                  We will notify the users via in-site notification:
                  <ul>
                    <li>Within 7 business days</li>
                  </ul>

                  We also agree to the Individual Redress Principle which requires that individuals have the right to legally pursue enforceable rights against data collectors and processors who fail to adhere to the law. This principle requires not only that individuals have enforceable rights against data users, but also that individuals have recourse to courts or government agencies to investigate and/or prosecute non-compliance by data processors
                </dd>

                <dt>CAN SPAM Act</dt>
                <dd>
                  The CAN-SPAM Act is a law that sets the rules for commercial email, establishes requirements for commercial messages, gives recipients the right to have emails stopped from being sent to them, and spells out tough penalties for violations.
                  <br />
                  We collect your email address in order to:
                  <ul>
                    <li>Send information, respond to inquiries, and/or other requests or questions
                      To be in accordance with CANSPAM, we agree to the following:</li>
                    <li>Not use false or misleading subjects or email addresses.</li>
                    <li>Include the physical address of our business or site headquarters.</li>
                    <li>Honor opt-out/unsubscribe requests quickly.</li>
                    <li>Allow users to unsubscribe by using the link at the bottom of each email.
                      If at any time you would like to unsubscribe from receiving future emails, you can email us at <a href="mailto:director@cvillemeals.org">director@cvillemeals.org.</a> </li>
                  </ul>
                </dd>
                
                <dt>Meals on Wheels of Charlottesville/Albemarle</dt>
                <dd>
                  If there are any questions regarding this privacy policy, you may contact <br /><br />
                  Meals on Wheels of Charlottesville/Albemarle <br />
                  704 Rose Hill Drive Charlottesville, VA 22903 <br />
                  Email: <a href="mailto:director@cvillemeals.org">director@cvillemeals.org</a> <br/>
                  Phone: <a href="tel:434-293-4364">434-293-4364</a>
                </dd>

              </dl>
            </div>
        </div>
    </div>
</div>
{% endblock %}
