<!-- templates/registration/password_reset_done.html -->
{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="">Meals on Wheels</a>
    </div>
  </div>
</nav>
<div>
<div class="container">
  <h1>Check your inbox.</h1>
  <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
  <a href="{% url 'home' %}" class="btn mybutton" role="button">Return to login</a>
</div>
<style>
  .mybutton{
    background-color: #333333;
    border-color: #333333;
    color: white;
  }
  .mybutton:hover{
    background-color:white;
    border-color: #333333;
    border-width: 1px;
    color: #333333;
  }
</style>
{% endblock %}
