<!-- templates/registration/password_reset_confirm.html -->
{% extends 'base.html' %}
{% load i18n %}

{% block title %}Enter new password{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

{% if validlink %}

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="">Meals on Wheels</a>
    </div>
  </div>
</nav>

<div class="container">
  <h1>Set a new password</h1>
  <form method="POST">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary mybutton">Change my password</button>  
  </form>
</div>

<style>
  .mybutton{
    background-color: #333333;
    border-color: #333333;
    color: white;
  }
  .mybutton:hover{
    background-color:white;
    border-color: #333333;
    border-width: 1px;
    color: #333333;
  }
</style>

{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
{% endblock %}