SECRET_KEY = "secret"
SERVER_GOOGLE_API_KEY = "google"
PROD_BROWSER_GOOGLE_API_KEY = "google"
BROWSER_GOOGLE_API_KEY = "google"
EMAIL_USER = "email_address"
EMAIL_PASSWORD = "password"
EMAIL_ACCOUNT_PASSWORD = "account"
POSTGRES_USER = "postgres"
POSTGRES_PASSWORD = "password"
